*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
/* navbar */
.navbar{
    position: fixed;
    z-index: 9999;
}
.navbar-text{
 display: flex;
 width: auto;
}
.nav-conct h5{
  font-size: 14px;
}
.nav-conct h4{
    font-size: 16px;
    color: rgb(24, 179, 24);
}
.search-icon{
    display:  none;
  }
  #navbarText{
    max-width:  100%!important;
  }
  #navbarText ul li a{
    color: black;
  }
  .navbar-collapse {
    background-color: white; 
   width: 100%!important;
   padding: 10px;
}

.navbar-collapse.collapsing {
    background-color: white; 
    width: 100%!important;
   

}

.navbar-collapse.show {
    background-color: white;
    width: 100%!important;


}

/* hero section */
  .hero-section{
    width: 100%;
    height: auto;
    background: linear-gradient(to top, rgb(146, 200, 219), rgb(240, 243, 245));
    display: flex;
    justify-content: center;
    padding-top: 8.2rem;
 
  }
.hero-sec{
    display: flex;
      width: 90%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.card {
    width: 100%;
    max-width: 100%;
    border: none!important;
    border-radius: 0;
    background-color: transparent!important;

    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  .card-body {
    padding: 2rem;
  }

.hero-text{

    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    
    }
    .hero-text  h2{
        font-size: clamp(1rem, 3vw + 1rem, 5rem);
        margin-bottom: 1.5rem;

    }
    .hero-text p{
        color: rgb(138, 138, 138);
    
    }
    .hero-btn{
        display: flex;
        gap: 20px;
    }
    .hero-btn1{
        all: unset;
        background-color:  rgb(24, 179, 24);
        color: white;
        height: 50px;
        width: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        gap: 10px;
    }
    .hero-btn2{
        all: unset;
        background-color: white;
        border-radius: 20px;
        height: 50px;
        width: 210px;
        border-radius: 50px;
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
        
       
    }
.hero-img{
    height: 500px!important;
    width: auto;
    margin-bottom: -1rem!important;
    

}
.about-container{
    background-color: rgb(26, 68, 98);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 13rem;
    
}
.abt-sec{
    width: 90%;


}
.about-container h2{
    color: white;
    text-align: center;
    font-size: clamp(1rem, 3vw + 1rem, 5rem);
    margin-top: 3rem;
}
.about-container p{
    color: rgb(207, 203, 203);
    text-align: center;
    margin-top: 3rem;
}
.abt-rating{
    display: flex;
    justify-content: space-around;
}
.abt-rating div p{
    color: white;
    margin-top: -.5rem;
}
.about-container button{
    width: 150px;
    border-radius: 50px;
    color: black;
    display: flex;
    gap: 5px;
 justify-content: center;
 align-items: center;
 height: 50px;
 margin-top: 1rem;
}
.abt-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -8rem;
    gap: 20px;

}
.abt-crd1 img{
    width: clamp(15rem, 30vw, 30rem);
    height: 20rem;
    border-radius: 30px;
    object-fit: cover;

}
.abt-crd2 img{
    width: 8rem;
    position: absolute;
   margin-left: -4rem;
   margin-top: -3rem;
   display: block;
}
.abt-crd3 img{
    width: clamp(25rem, 50vw, 50rem);
    height: 20rem;
    border-radius: 30px;
    object-fit: cover;
    object-position: top;
}
/* choos section */
.choos-section{
    margin-top: 7rem;
}
.choos-section p{
    text-align: center;
color: rgb(116, 113, 113);
}
.choos-section h2{
    text-align: center;
    font-size: clamp(1rem, 3vw + 1rem, 5rem);

}
.choos-section-circle{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.choos-sec-circle{
    width: 70%;
    display: flex;
    justify-content: space-around;
    
}
.circle-main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.circle-main1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
.circle{
    background-color: rgb(215, 231, 238);
    width: 120px;
    height: 120px;
    border-radius: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}
.circle img{
    width: 80px
}
.circle-main h5,.circle-main1 h5{
    background-color:  rgb(24, 179, 24);
    font-size: 13px;
    border-radius: 50px;
    height: 25px;
    width: 25px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    margin-top: -1rem;

}
.circle-main h4 ,.circle-main1 h4{
    font-size: 13px;}

   
    /* Departmenet  section*/
.dep-sec{
    text-align: center;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .dep-main{
    display: flex;
width: 100%;
justify-content: center;
margin-top: 3rem;


}
.dep-cards {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;


}
    .department-cards{
        display: flex;

    }
    .department-card{
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Custom shadow effect */
        transition: transform 0.2s, box-shadow 0.2s;
        height: 400px;
        width: 300px;
        border-radius: 30px;
        padding-bottom: 2rem;

    }
    .department-card:hover{
        transform: translateY(-5px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }
    .department-card img{
        height: 340px;
        width: 300px;
        object-fit: cover;
        border-radius: 30px 30px 0 0;
    }
    .department-card h3{
    font-size: 17px;
    margin-top: 1rem;
    }
    .dep-btn{
        all: unset;
        background-color: rgb(24, 179, 24);
        width: 140px;
        height: 50px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        border-radius: 50px;
        margin-top: 3rem;
    }
@media (min-width: 768px) {
    .card {
      flex-direction: row-reverse;
    }
    .col-md-4 {
      flex: 1;
    }
    .card-body {
      flex: 2;
    }
    .hero-img{
        height: 500px!important;
        width: auto;
        margin-bottom: -1rem!important;
        
    
    }
  }
@media (min-width: 990px) {
    /* navbar */
    #navbarText {
      height: 100px;
   
      display: flex;
      
 
    }
    #navbarText ul{
        border-right: 1px solid rgb(216, 211, 211);
        height: 100px;
        width: 85%;
        display: flex;
        justify-content: space-around!important;
        align-items: center;
     
        padding-left:20px;
        padding: 20px;
    }
    .nav-conct h5{
        font-size: .8vw;
      }
      .nav-conct h4{
          font-size: .9vw;
          color: rgb(24, 179, 24);
      }
      .search-icon{
        display:  block;
      }
  }

  @media (max-width: 768px) {
    .hero-text{
        margin-top: -4rem;
    }
  
    .hero-btn1{
        width: 130px;
        height: 40px;
        font-size: 12px;
    }
    .hero-btn2{
        width: 130px;
        height: 40px;
        font-size: 10px;
    
    }
    .hero-img{
        height: clamp(300px, 50vh, 400px)!important;

        
    
    }
    .abt-rating{
        display: flex;
        justify-content: space-around;
        gap: 5px;
        margin-top: -1rem;
    }
    .abt-rating div h2{
        font-size: clamp(1rem, 2vw + 1rem, 5rem);
    }
    .abt-rating div p{
        font-size: clamp(7px, 1vw  , 1rem);  
    }
    .about-container button{
        width: 130px;
        height: 40px;
    }
    .about-cards{
        display: flex;
        justify-content: center!important;
        width: 100%;
        align-items: center !important;
    }
    .abt-cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 90%;
    }
    .abt-crd1 img{
        width: 100%;
        object-fit: cover;

    }
    .abt-crd2 img{
        display: none;
    }
    .abt-crd3 img{
        width: 100%;
    }
    .choos-sec-circle{
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }
    .circle-main1{
        margin-top: 0px;

  
  }
  .choos-section{
    padding: 5px;
  }
  
  }